* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hero Section - Start */

.hero-section {
  background: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

header,
.hero-content {
  display: flex;
  width: 80%;
}

header {
  justify-content: space-between;
  margin-bottom: 5rem;
}

.logo {
  width: 80px;
  height: 80px;
}

.header-links {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

a,
.hero-subtext {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

.hero-content {
  justify-content: space-between;
}

.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

button.sign-up {
    background-color: #3882f6;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 0.5rem 2.5rem;
    font-size: 24px;
}

button:hover {
    cursor: pointer;
}

.hero-image {
  width: 480px;
  height: 230px;
}

/* Hero Section - End */

/* Images Section - Start */

.images-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.images-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin-bottom: 3rem;
}

.images-container {
  display: flex;
  width: 80%;
}

.image-card > img {
  width: 240px;
  height: 240px;
  border: 4px solid #3882f6;
  border-radius: 4px;
}

/* Images Section - End */

/* Quote Section - Start */

.quote-section {
  background: #e5e7eb;
  padding: 6rem 0;
}

.quote-container {
  margin: 0 auto;
  width: 90ch;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}

.author {
  font-size: 24px;
  font-weight: bold;
  align-self: flex-end;
  margin-right: 1rem;
}

/* Quote Section - End */